.boxForHint{
    flex: 1;
    max-width: 200px;
    max-height: 200px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #06d5d5;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #dde0e8;
    text-align: center;
}